.check-box{
   // background-color: hsl(235, 24%, 19%);
    display: flex;
    flex-direction: row;
    //color:hsl(233, 14%, 35%);
    color:hsl(233, 14%, 35%);
    font-size:  18px;
    text-align: left;
    width: 39vw;
    height: 5vh;
    background-color:white;
}
.list-container{
    margin: 0 auto;
    width: 39vw;
    margin-top: 20px;
    border: 2px  gray; /* Add your border properties here */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.left-box {
   width:10%;  
}
.right-box {
    flex: 2; /* Takes up 2 parts of the available space */
    padding-top: 10px;
}
input[type=checkbox]{
  -webkit-appearance: none;
    clip-path: circle(35% at 45% 36%);
    background: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
  /* Styles for the label when the checkbox is checked */
input[type=checkbox]:checked{
  font-weight: bold;
  color: green;
  background: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-image: url(../../../public/icons/Check.png);
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 30px; /* Add space for the background image */
}

/* Styles for the checkbox itself when checked */
input[type=checkbox]:checked {
  border-color: green;
}

  .strike-through {
    text-decoration: line-through;
    flex: 2 1;
    padding-top: 10px;
    color: lightgray;
  }
.delete-button{
  background: url(../../../public/icons/Cross.png);
 //background: url(../../../public/icons/icon-cross.svg);
  width: 40px;
  background-repeat: no-repeat;
  border:none;
 // display: none;

}
.delete-button:hover{
  color: red;
  background: url(../../../public/icons/cross-hover.png);
}
.check-button{
  -webkit-appearance: none;
    clip-path: circle(35% at 45% 36%);
    width: 35px;
    background-image: url(../../../public/icons/icon-check.svg);

}
.custom-button{
  border: none;
  cursor: pointer;
  border-radius: 25px;
  margin: 4px;
  height: 40px;
  width: 40px;
}

/* Style the image inside the button */
.custom-button img{
  width: 28px;
}
.custom-button.active {
  background: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
.custom-button.inactive {
  border: 2px solid gray;
}
.custom-button.inactive:hover {
  border-color: hsl(192, 100%, 50%); /* Change the border color to your desired color */
}