.check-box{
    background-color: hsl(235, 24%, 19%);
    display: flex;
    flex-direction: row;
    //color:hsl(233, 14%, 35%);
    color: white;
    font-size:  18px;
    text-align: left;
    width: 35vw;
    height: 5vh;
}
.list-container{
    margin: 0 auto;
    width: 35vw;
    margin-top: 20px;

}
.left-box {
   width:10%;  
}
.right-box {
    flex: 2; /* Takes up 2 parts of the available space */
    padding-top: 10px;
}
input[type=checkbox]{
  -webkit-appearance: none;
    clip-path: circle(35% at 45% 36%);
    background: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
  /* Styles for the label when the checkbox is checked */
input[type=checkbox]:checked{
  font-weight: bold;
  color: green;
  background: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-image: url(../../../public/icons/Check.png);
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 30px; /* Add space for the background image */
}

/* Styles for the checkbox itself when checked */
input[type=checkbox]:checked {
  border-color: green;
}

  .strike-through {
    text-decoration: line-through;
    flex: 2 1;
    padding-top: 10px;
  }